.main{
display: grid;
grid-template-areas: 
"side head"
"side main"
"foot foot";
width: 100%;
height: 65px;
grid-template-columns: auto 1fr;
grid-template-rows:65px auto 90px ;
}

.header{
	grid-area: head;
}
.sidebar{
	grid-area: side;
}
.children{
	grid-area: main;
}

.footer{
	grid-area: foot;
}