/* .main {
	display: grid;
	width: 100%;
	grid-template-areas:
	  "nav head"
	  "nav  main"
	  "foot  foot";
	grid-template-rows: 50px 1fr 30px;
	grid-template-columns: 150px 1fr;
  }
  
  .header {
	grid-area: head;
	background-color: #8ca0ff;
  }
  
  .sidebar {
	grid-area: nav;
	background-color: #ffa08c;
  }
  
  .children {
	grid-area: main;
	background-color: #ffff64;
  }
  
 .footer {
	grid-area: foot;
	background-color: #8cffa0;
  } */


.main{
display: grid;
grid-template-areas: 
"side head"
"side main"
"foot foot";
width: 100%;
height: 65px;
grid-template-columns: auto 1fr;
grid-template-rows:65px auto 100px ;
}

.header{
	grid-area: head;
}
.sidebar{
	grid-area: side;
}
.children{
	grid-area: main;
}

.footer{
	grid-area: foot;
}